<div class="fade-in">
    <div class="profile-card">
        <div class="profile">
            <img style="height:auto;" alt="" width="100" height="100" class="avatar" src="https://avatars.githubusercontent.com/u/46511735?v=4">
            <div class="profile-items">
                <div class="profile-name">César Intriago</div>
                <div class="profile-email"><a href="mailto:cesar@unraisedcode.net">cesar@unraisedcode.net</a></div>
                <div class="profile-info">🎓 SYSTEMS ENGINEER</div>
                <div class="profile-at-work">🧑‍🏭 Software Architect at <a href="https://devsu.com/">Devsu</a></div>
            </div>
            <div class="profile-social">
                <a href="https://github.com/ForerunnerG34" title="View my GitHub projects">
                        <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" style="background: #2f2a2a00;">
                            <path fill="var(--header-color)" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                    <a href="http://www.linkedin.com/in/cesar-intriago" style="margin-left:20px;" title="View my LinkedIn profile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                            <g>
                            <path fill="var(--header-color)" d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z"></path>
                            </g>
                        </svg>
                    </a>
            </div>
        </div>
        <div class="info-panel top">
            <div>
                <svg fill="#b0c1cb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="svg_3aeb045a" focusable="false"><path d="M1344 0q26 0 45 19l640 640q19 19 19 45t-19 45l-243 243q25 25 49 48t42 47 30 54 12 67q0 40-15 76t-41 63-61 43-75 17q-2 41-17 75t-40 60-60 41-75 16q-1 40-17 75t-43 61-63 42-76 15q-32 0-65-11-11 31-29 56t-44 44-55 29-63 10q-26 0-46-4t-37-14-34-22-35-29q-35 32-68 50t-84 19q-40 0-76-15t-63-41-43-61-17-76q-39-1-74-16t-61-41-41-61-16-74q-40-1-74-16t-60-41-41-61-17-74q-41-1-76-17t-61-43-41-62-15-76q0-41 15-77t44-65l106-107L19 749Q0 730 0 704t19-45L659 19q19-19 45-19t45 19l132 132q13-4 50-17t87-29 103-35 102-34 81-26 40-10zM312 960q-29 0-50 21l-113 112q-21 21-21 51t20 50 51 21q31 0 51-20l113-112q21-21 21-51t-21-51-51-21zm192 192q-14 0-27 5t-24 16l-112 113q-21 21-21 51 0 29 21 49t51 21q14 0 27-5t24-15l112-113q21-21 21-50 0-30-21-51t-51-21zm192 192q-29 0-50 21l-113 112q-21 21-21 51t20 50 51 21q31 0 51-20l113-112q21-21 21-51t-21-51-51-21zm8 377q0 29 21 49t51 21q14 0 27-5t24-15l112-113q21-21 21-50 0-30-21-51t-51-21q-14 0-27 5t-24 16l-112 113q-21 21-21 51zm1016-441q29 0 50-21t22-50q0-30-21-51l-632-633q-3-3-10-5t-14-4-15-3-12-1q-26 0-49 10t-41 27-28 41-10 50q0 53-20 99t-55 82-81 55-100 20q-40 0-75-15t-61-41-41-61-15-75q0-24 5-53t16-52l187-375q9-16 27-26l-43-43-550 549 135 134q45-5 85 6t70 37 48 63 19 83q40 2 75 16t60 40 41 60 16 76q40 2 75 16t60 40 41 60 16 76q41 2 76 17t61 41 41 62 15 77q0 45-18 84t-52 68q15 14 27 23t35 9q29 0 50-21t22-50q0-30-21-51l90-91 65 64q23 21 50 21 29 0 50-21t22-50q0-30-21-51l-113-113 91-90 112 112q21 21 51 21t51-21 21-51q0-30-21-51l-113-112 91-91 113 113q21 21 50 21zm173-576l-566-567-504 168-174 348q-5 9-7 25t-2 26q0 26 19 45t45 19q27 0 50-10t40-27 28-41 10-50q0-53 20-99t55-82 81-55 100-20q16 0 34 3t38 8 35 14 29 21l472 472 197-198z"></path></svg>
            </div>
            <div>
                Experienced, results-focused programmer with strong background in back end, databases, algorithms, design patterns, Web applications and capable of reversing a linked list and doing a binary search.
            </div>
        </div>
        <div class="info-panel">
            <div>
                <svg fill="#b0c1cb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="svg_dd790ee3" focusable="false"><path d="M1883 640l128 128-283 282-320-319-677 677 319 320-282 283-128-128-160 159-192-191q-10 9-20 21t-22 22-25 18-29 8q-26 0-45-19t-19-45q0-15 7-28t18-25 23-22 21-21L6 1568l159-160-128-128 283-282 320 319 677-677-319-320 282-283 128 128L1568 6l192 191q10-9 20-21t22-22 25-18 29-8q26 0 45 19t19 45q0 15-7 28t-18 25-23 22-21 21l191 192-159 160zM549 1792l-293-293-69 69 293 293 69-69zm321-64l-550-550-101 102 549 549 102-101zm629-1472l293 293 69-69-293-293-69 69zm330 512l-549-549-102 101 550 550 101-102z"></path></svg>
            </div>
            <div>
                Worked to analyze problems, provide efficient solutions and develop quality code... like this JavaScript free website.
            </div>
        </div>
        <div class="info-panel bottom">
            <div>
                <svg fill="#b0c1cb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="svg_dd790ee3" focusable="false"><path d="M1664 0v2048H384V0h1280zm-128 128H512v1792h1024V128zm-192 1024q-26 0-45-19t-19-45q0-26 19-45t45-19q26 0 45 19t19 45q0 26-19 45t-45 19z"></path></svg>
            </div>
            <div>
                "What comes next is up to you. You can use your keys to open the door or lock it tight." -Kisuke Urahara
            </div>
        </div>
    </div>
</div>

@code {

}
