/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 24px;
    top: 20px;
    right: 20px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f2a2a;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 36px;
        width: 36px;
        left: -4px;
        bottom: -5px;
        background-color: #504041;
        -webkit-transition: .4s;
        transition: .4s;
        background-image: url(/images/dark.svg);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
    }

input:checked + .slider {
    background-color: #e8ebec;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: 4px;
    background-size: 24px;
    background-image: url(/images/light.svg);
    background-repeat: no-repeat;
    background-position: 6.5px center;
    background-color: #ffffff;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
